body{
    font-family: 'Open Sans', sans-serif; 
    background-color:#f9fafc;

}

ul {
    text-decoration: none;
    list-style: none;
    color: black;
}

a{
    text-decoration: none;
    color: #69696a;
}

section{
    border-left: 2px solid black;
    padding-left: 10px;
}


.bg{
    width: 100%;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.button {
    width: 100%;
    background-color: #000;
    color: #FFF;   
}

