body{
    font-family: 'Open Sans', sans-serif; 
    background-color:#f9fafc;
}

ul {
    text-decoration: none;
    list-style: none;
    color: black;
}

.grey { color: #69696a;
}

button {
    width: 100%;
    background-color: #000;   
}

.tone{
    color: #FFF;
}